<div *ngIf="meteo.length" class="overflow-x-auto bg-white rounded-lg shadow">
  <div class="p-4 text-blue-700 font-semibold text-center">Date sélectionnée : {{ selectedDate || '' }}</div>
  <table class="min-w-full border-collapse">
    <thead class="bg-blue-50">
      <tr>
        <th class="border border-gray-300 px-4 py-2 text-left">Heure</th>
        <ng-container *ngFor="let ville of meteo">
          <th class="border border-gray-300 px-4 py-2 text-left">{{ ville.city }}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="meteo.length">
        <ng-container *ngFor="let hourObj of meteo[0]?.hourly; let i = index">
          <tr class="hover:bg-gray-50">
            <td class="border border-gray-300 px-4 py-2">{{ hourObj.hour }}h</td>
            <ng-container *ngFor="let ville of meteo">
              <td class="border border-gray-300 px-4 py-2">
                <ng-container *ngIf="ville.hourly && ville.hourly[i]">
                  <div *ngIf="showTemp">🌡️ {{ ville.hourly[i].temperature }}°C</div>
                  <div *ngIf="showWind">💨 {{ ville.hourly[i].wind }} km/h</div>
                  <div *ngIf="showSummary">
                    <ng-container *ngIf="ville.hourly[i].summary as code">
                      <span>{{ getWeatherDescription(+code).emoji }}</span>
                      <span>{{ getWeatherDescription(+code).desc }}</span>
                    </ng-container>
                  </div>
                </ng-container>
                <ng-container *ngIf="!ville.hourly || !ville.hourly[i]">-</ng-container>
              </td>
            </ng-container>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
